body {
  padding: 30px 0px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.1rem;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 15px !important;
}

.clear {
  clear: both
}

.box-overview {
  padding: 20px;
  border: solid 1px rgba(2, 117, 216, 0.5);

  small {
    letter-spacing: 0.2em;
  }
}

.box-service {
  padding: 20px;
  border-radius: 3px;

  &.online {
    background: #1BC98E;
  }

  &.offline {
    background: rgb(230, 71, 89);
  }

  span.port {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.2em;
  }

  h5 {
    color: rgba(255, 255, 255, 1);
  }

  h6 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
  }

  hr {
    margin: 20px 0px !important;
    border-top: solid 1px rgba(255, 255, 255, 0.35);
  }
}

ul#list-nginx {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 500px;
  overflow-y: scroll;

  li {
    padding: 10px;
    border: solid 1px #434857;
    border-bottom: none;

    &:last-child {
      border-bottom: solid 1px #434857;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background: #1BC98E;
      font-weight: bold;
      color: #fff;
      border: none;
    }
  }
}

#editor-nginx { 
  width: 100%;
  height: 500px;
}